.vscode/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# dataset and log directory
datasets/
logs/

# distribution / packaging
build/
dist/
*.egg-info/